{% extends 'base.html' %}
{% block header_text %}Your To-Do List{% endblock %}
{% block form_action %}{% url 'view_list' list.id %}{% endblock %}
{% block extra_content %}
<div class="row">
    <div class="col-md-6">
        <form class="form-inline" action="{% url 'share_list' list.id %}" method="POST">
            <label for="sharee">Share this list</label>
            <input type="email" name="sharee" id="sharee" placeholder="your-friend@example.com" />
            {% csrf_token %}
        </form>
    </div>
    <div class="col-md-3">
        <h3>Shared with</h3>
        <ul>
            {% for sharee in list.shared_with.all %}
            <li class="list-sharee">{{ sharee.email }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
{% block table %}
		<table id="id_list_table" class="table">
			{% for item in list.item_set.all %}
			<tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
			{% endfor %}
		</table>
        {% if list.owner %}
        <p>List owner: <span id="id_list_owner">{{ list.owner.email }}</span></p>
        {% endif %}
{% endblock %}
